body {
  background-color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #333333;
  text-align: center;
  max-width: 750px;
  margin: auto;
}

h1 {
  
}

img {
  height: 200px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 10px;
}

a:link, a:visited, a:hover, a:active {
  color: #131313;
  text-decoration: underline;
}