body {
  background-color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #333333;
  text-align: center;
  max-width: 768px;
  margin: auto;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  border: 2px solid #bbd0f7;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  background-color: honeydew;
  background-image:  linear-gradient(#bbd0f7 0px 1px, transparent 1px 10px), linear-gradient(to right, #bbd0f7 0px 1px, transparent 1px 10px);
  background-size: 30px 31px;
  background-position: -1px -1px;
  
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 10px;
}

a:link, a:visited, a:hover, a:active {
  color: #131313;
  text-decoration: underline;
}